<main>
  <header><img src="../assets/user.png" alt="user"></header>

  <label>User List</label>
  
  <section>
    <app-user-list [userList]="userList" (selectedUser)="updateSelectedUser($event)"></app-user-list>
  </section>
  <article>
    <ng-container *ngIf="selectedUser">
      <p>Address: {{selectedUser?.address}}</p>
      <p>FirstName: {{selectedUser?.firstname}}</p>
      <p>LastName: {{selectedUser?.lastname}}</p>
      <p>Email: {{selectedUser?.emailId}}</p>
      <p>Phone: {{selectedUser?.phone}}</p>
      <p>Gender: {{selectedUser?.gender}}</p>
    </ng-container>
  </article>
</main>